header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: map-get($theme-colors,"primary");
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

  .title {
    .image {
      width: 40px;
      height: 40px;
      padding-right: 5px;
    }
    font-size: 2em;
    font-family: Roboto, serif;
    font-weight: bold;
    color: white;
    float: left;
    display: flex;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 700px) {
  header {
    background-color: lightblue;
    padding: 0.5em;
    .title {
      .image {
        width: 20px;
        height: 20px;
      }
      font-size: 1em;
    }
  }
}