header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: map-get($theme-colors,"primary");
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

  .title {
    .image {
      padding-right: 5px;
    }
    font-size: 2em;
    font-family: Roboto, serif;
    font-weight: bold;
    color: white;
    float: left;
    display: flex;
    flex-flow: row;
    vertical-align: middle;
  }
  .about{
    font-size: 1em;
    position: absolute;
    right: 2em;
  }
}
